{%- if page.layout == 'home' -%}

<div class="jumbotron jumbotron-fluid header header-home">
  <div class="container">

    <div class="row">
      <div class="col-12 col-md-4 col-lg-3 mb-3 mb-md-0">
        <!-- Removing the map
        <img id="profile-pic" src="{{ site.baseurl }}/images/map_updates/surveys_080519.png">
              -->
      </div>
      <div class="col-12 col-md-8 col-lg-9 mb-3 mb-md-0">
        <br>
        <br>
        <br>
        <h1>JAGSMAP</h1>
        <h2>Jaguars At the Global Scale</h2>
        <h3><i>a Meta-Analysis of the Population</i></h3>

        <!-- Contact -->
        <div><br><i>Still accepting datasets!</i></div>
        
        <ul class="contact list-inline banner-social-buttons">
          <li class="list-inline-item">
            <a class="btn btn-secondary" href="{{ site.baseurl }}/contribute.html">
              <i class="far fa-envelope"></i> Contribute
            </a>
            <a class="btn btn-secondary" href="https://groups.google.com/forum/#!forum/jagsmap">
              <i class="far fa-envelope"></i> Join the discussion
            </a>
          </li>
        </ul>
        
        <ul class="contact list-inline banner-social-buttons">
          <li class="list-inline-item">
            <a class="btn btn-secondary" href="https://groups.google.com/forum/#!forum/jagsmap">
              <i class="far fa-envelope"></i> Join the discussion
            </a>
          </li>
        </ul>
        
      </div>
    </div>
  </div>
</div>

{%- else -%}

<div class="jumbotron jumbotron-fluid header header-page">
  <div class="container">
    <h1>{{ page.title }}</h1>
    <h2>{{ page.description }}</h2>
  </div>
</div>

{%- endif -%}
